*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar{
  height: 100px;
  width: 100%;
 
  background-color: grey;

}
.navbar h2{
  text-align: center;
  padding: 30px;
}
.navbar h2{
  text-align: center;
}
.main-wrappr{
  display: flex;
 
}
.leftbar{
  height: 1000px;
  width: 20%;
  background-color: black;
 
  
}
.leftbar h3{
  text-align: center;
  color: aliceblue;
  padding-top: 50px;
  
}
.container{
 
  height: 1000px;
  width: 80%;
  background-color: white;
 
}.container h3{
  text-align: center;
}
.footer{
  height: 100px;
  width: 100%;
  background-color: grey;
}
.footer h2{
  text-align: center;
  padding: 30px;
}
.sidebar_nav{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar_nav li{
  padding: 10px;
  background-color: #725e5e;
  margin-bottom: 5px;
  color: #ffffff;
}
.sidebar_nav li a{
  color: #ffffff;
  text-decoration: none;
}
table{
  margin-top: 20px;
  font-family: arial, sens-serif;
  border-collapse: collapse;
  width: 100%;
}
td,th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;


}
tr:nth-child(even){
  background-color: #dddddd;
}
.btn{
  display: inline-block;
  background: rgb(30, 0, 255);
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  margin: 5px;
  border: none;
}
.btn-danger{
  background-color: red;
}
.pull-right
{
  float: right;
}
.btn_1{
  display: inline-block;
  background: rgb(34, 134, 29);
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  margin: 5px;
  border: none;
}
/* form css starts */
input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/* form css ends */
.label-danger{
  color: rgb(189, 12, 12);
}


.login-form {
  width: 300px;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding: 20px;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  