*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar{
  height: 100px;
  width: 100%;
 
  background-color: grey;

}
.navbar h2{
  text-align: center;
  padding: 30px;
}
.main-wrappr{
  display: flex;
 
}
.leftbar{
  height: 1000px;
  width: 20%;
  background-color: black;
 
  
}
.leftbar h3{
  text-align: center;
  color: aliceblue;
  padding-top: 50px;
  
}
.container{
 
  height: 1000px;
  width: 80%;
  background-color: white;
 
}.container h3{
  text-align: center;
}
.footer{
  height: 100px;
  width: 100%;
  background-color: grey;
}
.footer h2{
  text-align: center;
  padding: 30px;
}
.sidebar_nav{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar_nav li{
  padding: 10px;
  background-color: #725e5e;
  margin-bottom: 5px;
  color: #ffffff;
}
